<div id="comment_permalink" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="comment_permalink_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="comment_permalink_label"><%= t(:link_to_this_comment)%></h3>
  </div>
  <div class="permalink-modal-body">
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span10">
        <div id="comment-permalink"></div>
      </div>
      <div class="span1"></div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
