<div class="juvia-topic-vote">
  <div class="row-fluid">
  	<div class="span2">
	  <votetopic class="juvia-vote-to-topic" id="vote_for_like">
        <i class="icon-thumbs-up" ></i>
        <span> Like</span>
      </votetopic>
    </div>
    <div class="span2">
	  <votetopic class="juvia-vote-to-topic" id="vote_for_unlike" >
        <i class="icon-thumbs-down" ></i>
        <span> Unlike</span>
      </votetopic>
    </div>
    <div class="span8">
    	<span id="liked_pages"><%=@topic.vote_counts %></span>
    </div>
  </div>
</div>

<% if @topic.liked?(@username, @user_email) %>
<!-- // TO DO NEED TO WRITE A FUNCTION THAT WILL WORK IN BOTH PLACES, BELOW AND BASE.JS.ERB -->
  <script type="text/javascript">
    var $like = Juvia.$('#vote_for_like')
    $like.addClass('votes-up-active');
    var $like_text = $like.find("span");
    $like_text.html(" Liked");
  </script>
<% elsif @topic.unliked?(@username, @user_email)%>
  <script type="text/javascript">
    var $unlike = Juvia.$('#vote_for_unlike');
    $unlike.addClass('votes-down-active');
    var $unlike_text = $unlike.find("span");
    $unlike_text.html(" Unliked");
  </script>
<% end %>
