<div class="row row-markdown">
  <div class="span">
    Help with formatting
    <a href="#markdowncollapse" data-toggle="jcollapse">click here</a>
  </div>
</div>  
<div id="markdowncollapse" class= "markdown_div jcollapse" >
  <div class="markdown_child_div">
    <div id="markdown_upper_div">
      <div class="row">
        <div class="span pull-right">
          <a href="#markdowncollapse" data-toggle="jcollapse">X</a>
        </div>
      </div>
      <div class="format_list_div">
        <h4>Format Text</h4>
        <p>Headers</p>
        <pre># H1 Header<br>## H2 Header</pre>
        <p>Text styles</p>
        <pre>*For italic*<br>**For bold**</pre>
      </div>
      <div class="format_list_div">
        <h4>Lists</h4>
        <p>Unordered</p>
        <pre>* Item 1<br>* Item 2</pre>
        <p>Ordered</p>
        <pre>1. Item 1<br>2. Item 2</pre>
      </div>
      <div class="format_list_div miscell">
        <h4>Miscellaneous</h4>
        <p>Images</p>
        <pre>Format: ![Alt Text](url) <br>Example: ![rdf richard](http://rdfrs.com/assets/richard.png)</pre>
        <p>Links</p>
        <pre>Example: [Google](http://google.com)</pre>
        <p class="pull-right"><a href="http://daringfireball.net/projects/markdown/basics" target="_blank">More help on markdown home page</a></p>
      </div>
    </div>
  </div>
</div>
