<div class="juvia-comment-pure-content well well-small row">
  <div class="span">
    <h2>Comments</h2>
  </div>
</div>
<%comments.visible.to_a.each do |comment|%>
  <div class="juvia-comment-pure-content well well-small row">
    <div class="span">
      <dl>
        <dt>
          <b>Topic:</b>
          <% if comment.topic and comment.topic.url %>
            <%= link_to truncate(comment.topic.url, :length => 50), comment.topic.url %>
          <% else %>
            None
          <% end %>
        </dt>
        <dd class="lead">
          <br/>
          <%= render_markdown(comment.content.html_safe) %>
        </dd>
        <dd class="juvia-comment-date">
          <%= distance_of_time_in_words(Time.now, comment.created_at) + ' ago' %>
        </dd>
      </dl>
    </div>
  </div>
<%end%>
