<form
method="post"
action="javascript:void(0)"
class="juvia-add-comment-form">
	<div class="juvia-metadata">
		<div class="juvia-field juvia-text-field">
			<div class="juvia-input"><input type="text" name="author_name"></div>
		</div>
		
		<div class="juvia-field juvia-text-field">
			<div class="juvia-input">
				<input type="text" name="author_email">
				<a href="javascript:void(0)" class="juvia-help">[?]</a>
				<div class="juvia-help-content" style="display: none">
					The email address is only used for
					displaying your <a href="http://gravatar.com/">Gravatar</a>.
					It won't be displayed in the comment and other
					people won't see it.
				</div>
			</div>
		</div>
	</div>
	
	<%= render :partial => 'input_form' %>
</form>