<div class="juvia-data">
	<div class="juvia-field juvia-textarea-field">
		<textarea id="comment_textarea" name="content" cols="80" rows="10"></textarea>
	</div>
</div>

<div class="juvia-form-actions">
	<div class="juvia-action juvia-submit-button">
		<input type="submit" value="Submit" />
	</div>
	<div class="juvia-action juvia-submitting-button" style="display: none">
		<input type="submit" value="Submitting, please wait..." disabled />
	</div>
	<div class="juvia-error" style="display: none"></div>
</div>

<div class="juvia-preview">
	<h4>Preview</h4>
	<div class="juvia-preview-empty">
		Comments can be styled with 
    
     <a href="http://daringfireball.net/projects/markdown/basics" 
            id="markdown" 
            rel="juviatooltip"  
            data-original-title="Example:<br/>  
                A First Level Header<br/>
====================<br/>
<br/>
A Second Level Header<br/>
---------------------<br/>
<br/>
### Header 3<br/>
<br/>
-----------------------------------------<br/>
Output:<br/>
-----------------------------------------<br/>
<h1>A First Level Header</h1>
<h2>A Second Level Header</h2>
<h3>Header 3</h3>
">
                Markdown
                </a>
    
    
    .
		Type something and a preview will show up here.
	</div>
	<div class="juvia-preview-content" style="display: none"></div>
</div>
