<div class="juvia-data">
	<div class="juvia-field juvia-textarea-field">
		<textarea id="comment_textarea" name="content" cols="80" rows="10"></textarea>
	</div>
</div>

<div class="juvia-form-actions">
	<div class="juvia-action juvia-submit-button">
		<input type="submit" value="Submit" />
	</div>
	<div class="juvia-action juvia-submitting-button" style="display: none">
		<input type="submit" value="Submitting, please wait..." disabled />
	</div>
	<div class="juvia-error" style="display: none"></div>
</div>

<div class="juvia-preview">
	<h4>Preview</h4>
	<div class="juvia-preview-empty">
		Comments can be styled with <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown</a>.
		Type something and a preview will show up here.
	</div>
	<div class="juvia-preview-content" style="display: none"></div>
</div>
