<div id="markdowncollapse" class= "markdown_div jcollapse" >
  <div class="markdown_child_div">
    <div id="markdown_upper_div">
      <div class="row">
        <div class="span pull-right">
          <a href="#markdowncollapse" data-toggle="jcollapse">X</a>
        </div>
      </div>
      <div class="format_list_div">
        <h4>Format Text ( Headers )</h4>
        <pre># A First Level Header<br>## A Second Level Header<br>### Header 3</pre>
        <p>Text styles</p>
        <pre>*This text will be italic* <br>_This will also be italic_ <br>**This text will be bold** <br>__This will also be bold__ <br><br>*You **can** combine them* </pre>
      </div>
      <div class="format_list_div">
        <h4>Lists ( Unordered )</h4>
        <pre>* Item 1<br>* Item 2 <br>  * Item 2a<br>   * Item 2b</pre>
        <p>Ordered</p>
        <pre>1. Item 1<br>2. Item 2<br>3. Item 3<br>  * Item 3a<br>  * Item 3b</pre>
      </div>
    </div>
    <div id="markdown_lower_div">
      <h4>Miscellaneous</h4>
      <div class="miscellaneous_div">
        <p>Images</p>
        <pre>![GitHub Logo](/images/logo.png) Format: ![Alt Text](url) </pre>
      </div>
      <div class="miscellaneous_div">
        <p>Links</p>
        <pre>http://github.com - automatic! [GitHub](http://github.com)</pre>
      </div>
      <div class="miscellaneous_div">
        <p>Blockquotes</p>
        <pre>> This is a blockquote.<br>> second paragraph.</pre>
        <p class="pull-right"><a href="http://daringfireball.net/projects/markdown/basics" target="_blank">More Detail..</a></p>
      </div>
    </div>
  </div>
</div>
