<div class="row">
  <div class="span6">
    <h4 class="juvia-comment-count-header"><%=total_comments %></h4>
  </div>
  <div class="span3 juvia-sort-select">
     <% if sorting_option %>
       <select id="juvia-sort-select">
     	  <option value="hot">Sort by popular now</option>
     	  <option selected="selected" value="newest">Sort by newest first</option>
     	  <option value="oldest">Sort by oldest first</option>
       </select>
    <% end %>
  </div>
</div>
