<%= @child_comment.author_name || 'Anonymous' %> replied to your comment on "<%= @child_comment.topic.title.to_s %>": <br/> <br/>

<%= @child_comment.content %>

<a href="<%= @child_comment.permalink %>">Link to comment</a> <br/> <br/>
