// -*- Mode: SCSS; tab-width: 4; indent-tabs-mode: true; c-basic-offset: 4 -*-

@import "comment_content";
@import "lib/bootstrap_overrides";

.collapse_link_class span{
  position:relative;
  top:-4px;
}

.juvia-comment-function div{
  margin-right: -20px;
}

.juvia-comment-content .juvia-comment-pure-content p{
     margin-bottom: 0px !important;
}

.juvia-author {
  .span8{
    width: 640px !important;
  }
  .span1{
    width: 28px !important;
    margin-left: 0px !important;
  }
}

.icon-minus, .icon-plus{
  color: gray;
  opacity: 0.7;
}
juvia-container [class^="icon-"], .juvia-container [class*=" icon-"]{
 line-height: 24px;
}

.load_more_contain{
  text-align:center;
}

.lod-more-btn-block {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
}

.juvia-comment-date{
  font-size:12px;
  color:#818181;
}

.juvia-topic .row-markdown{
  margin-bottom: 1em;
}

.markdown_child_div{
  border:1px solid;
  height: 248px;
}

.markdown_div{
  overflow: hidden;
  margin-bottom:10px;
  width:89%;
}

.miscell{
  width:297px !important;
}

#markdown_upper_div{
  padding-left: 10px;
}

#markdown_lower_div{
  height: 125px;
  padding-left: 10px;
}

pre {
    border: 1px solid #DDDDDD;
    margin: 0 0 20px;
    padding: 5px;
}

.format_list_div{
  float: left;
  margin-right: 5px;
  padding: 0 0 10px;
  width: 165px;
}

.miscellaneous_div{
  float: left;
  margin-right: 5px;
  padding: 0 0 10px;
  width: 230px;
}


.header_com{
	padding: 4px 0px 0px 4px;
}

.juvia-container .juvia-metadata .span1 {
    width: 10px;
}


.juvia-container .tooltip-inner{
  max-width: 500px;
}

.tooltip-inner{
  h1{
    font-size:125%;
  }
  h2{
    font-size:110%;
  }
  h3{
    font-size:100%;
  }
}

.juvia-avatar img:hover{
  cursor: pointer;
}

.juvia-container .comment-like-flag{
	width: 485px !important;
}

.juvia-preview-empty{
  font-size: 12.6px;
}

.juvia-container .flag{
	width: 78px !important;	
	line-height: 24px;
}
.juvia-comment-content p.icon-flag{
	width:100%;
	cursor: pointer;
}

.juvia-vote-to-comment, .juvia-vote-to-topic, .juvia-reply-to-comment{
	width: 55px !important;
}

.juvia-vote-to-comment:hover,  .juvia-vote-to-topic:hover, .juvia-reply-to-comment:hover{
	cursor:pointer;
	text-decoration: underline;
}

.votes-up-active, .votes-down-active{
	color:#DA4F49;
}

#vote_for_unlike{
    width:80px !important;
}

.juvia-topic h3{
	margin:1em 0;
}

.juvia-container {
	font-family: 'Helvetica', 'Arial', 'Sans Serif';
	font-size: 11pt;
	line-height: normal;

	// Override conflicting styles from some websites.
	h1, h2, h3, h4 {
		float: none;
	}
}

#juvia-comments-box{
	margin-top:10px;
}

.juvia-container blockquote {
	font-size: 100%;
	font-style: italic;
	font-family: Georgia, Serif;
	border-left: #dddddd 2px solid;
	margin: 0.5em;
	padding: 0 0 0 1em;
	color: #888888;

	p {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

.juvia-comment {
	min-height: 65px;
	margin-bottom: 5px;
}

.juvia-comment .juvia-metadata {
	position: relative;
	background: #e2e2e2; /* Old browsers */
	background: none repeat scroll 0 0 whitesmoke !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%); /* W3C */
	margin-bottom: 0px;
	padding: 8px;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	height: 20px;
	line-height: 14px;
}

.juvia-comment .juvia-avatar {
	float: left;
	margin-top: -8px;
	margin-left: -60px;
	img{
     border-radius: 6px 6px 6px 6px;
     width:40px;
   }
}

.juvia-comment .juvia-author {
	font-weight: bold;
}

.juvia-comment .juvia-creation-date {
	position: absolute;
	right: 12px;
	top: 10px;
	font-size: 70%;
}

.juvia-comment .juvia-metadata {
	margin-left: 52px;
}

.juvia-comment .juvia-data {
	margin-left: 55px;
}

.juvia-moderating {
	font-style: italic;
}

.juvia-comment-function{
    color: #707070 !important;
    font-size: 12.6px;
    a{
      color: #707070 !important;
    }
    .span1{
      text-align:right;
    }
}

.juvia-comment-content,
.juvia-preview-conten {
    @include CommentContent;
}

.juvia-comment h1,
.juvia-preview-content h1 {
	font-size: 125%;
}

.juvia-comment h2,
.juvia-preview-content h2 {
	font-size: 110%;
}

.juvia-comment h3,
.juvia-preview-content h3,
.juvia-comment h4,
.juvia-preview-content h4,
.juvia-comment h5,
.juvia-preview-content h5,
.juvia-comment h6,
.juvia-preview-content h6 {
	font-size: 100%;
}

.juvia-field input {
	width: 20em;
}

.juvia-example-text {
	color: #888888;
}

.juvia-field .juvia-input,
.juvia-textarea-field {
	margin-bottom: 0.5em;
}

.juvia-help-content {
	position: absolute;
	font-size: 90%;
	width: 14em;
	border: solid 1px black;
	background: #ffffe0;
	border: solid 1px #ffddaa;
	padding: 8px;
	box-shadow: 3px 3px 5px #888;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
}

.juvia-textarea-field textarea {
	width: 50em;
	height: 7em;
}

.juvia-form-actions .juvia-action {
	display: inline;
}

.juvia-form-actions .juvia-error {
	display: inline;
	color: red;
	margin-left: 1em;
}

.juvia-preview h4 {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	color:#707070;
}

.juvia-preview-content {
	background: #ffffdd;
	border: solid 1px #ffeebb;
	margin-bottom: 1em;
	padding: 8px;

	p {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	pre, code {
		background: inherit;
		font-weight: normal;
		border: none;
		margin: 0;
		padding: 0;
	}

	pre {
		margin: 1em;
	}
}

.juvia-preview-content > *:first-child {
	margin-top: 0;
}

.juvia-preview-content > *:last-child {
	margin-bottom: 0;
}

.juvia-self-ad {
	margin-top: 1em;
	font-size: 80%;
	color: #888888;
}
